
.App { 
  margin: 0 auto;
width: 70%;
}





.jihed iframe{

width:80%;
height: 500px;

}
.img{
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  width: 200px;
  height: 300px;
  align-content: space-between;
}
body {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
  a {
  color: #333;
  text-decoration: none;
  }

  h1, h2, h3 {
  font-weight: 400;
  }

  h1 {
  font-size: 30px;
  }

  h2 {
  font-size: 24px;
  }

  h3 {
  font-size: 20px;
  }

  img {
    height: auto;
    width: 100%;
  }

  section {
  padding: 30px 60px;
  }

  .friend img {
  height: 70px;
  width: 100px;
  display: block;
  }